/* Paragraph font size and Left-align */
.reveal p {
  font-size: 0.9em;
  text-align: left;
}

/* Center all images on slides */
.reveal .slides img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
